*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}

/**********Header*******************/
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url();
}
/**********End of Header************/
